.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #111827;
    position: sticky; 
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: #38bdf8;
}

.nav-links{
    display: flex;
    gap: 30px;
}

.nav-links li{
   font-size: 17px;
   transition: 0.3s;
}

.nav-links li:hover{
    color: #38bdf8;
}